/* Set the text of the info appropriately */
.info-text {
    padding-top: 160px;
    text-align: center;
}

/* Center the image to fit the info columns */
.info-img {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

/* Align the footer text */
#footer-text {
    text-align: center;
}