/* Make the navbar transparent so the image behind it can be seen */
.navbar {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
} 

/* Shift the image under the navbar */
#navbar-img {
    position: absolute;
    top: -10px;
    z-index: -1;
    width: 1500px;
    height: 400px;
}