/* Make the navbar transparent so the image behind it can be seen */
.navbar {
    background-color: transparent;
    background: transparent;
    border-color: transparent;
    padding-bottom: 40px;
} 

/* Shift the image under the navbar */
#navbar-img {
    position: absolute;
    top: -10px;
    z-index: -1;
    width: 100%;
    height: 400px;
}

/* Set a different font for the text and align it to the center */
#navbar-title, #navbar-text {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
}

/* Remove the underline of the link, align it to the center, and change the font */
#navbar-link {
    padding-top: 10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    text-decoration: none !important;
}